<div class="card card-default card-body div-drop-shadow"
     style="max-width: 700px; margin: auto; margin-top: 20px;">
    <div>
        <div class="card-title">
            <h2 id="about"><b>About the Site</b></h2>
        </div>
        <div style="line-height: 1.4em;">
            <img width="64px" class="rounded-circle img-fluid"
                 style="min-width: 128px; float: left; margin-right: 20px; margin-bottom: 10px;"
                 src="https://elasticbeanstalk-us-west-2-928248191884.s3.amazonaws.com/media/jeff.jpg">


            <p>Hey there, I'm Jeff Chen.</p>
            <p>I am a SEO Project Manager at <a
                    href="https://www.upcounsel.com/"
                    target="_blank">UpCounsel</a> and the sole developer / idea
                man / product manager behind jeffchenseo.com. I built this
                website
                because I always thought it was interesting
                how many Jeff Chens there are in the world (Facebook says
                41,400+ Jeff Chens!)
                and thought it
                would be a fun little contest to see who can get the most
                votes.</p>
            <p>I have definitely <b>not</b> been able to get a full list of all
                Jeff
                Chens
                so if you are interested in participating in the contest, feel
                free
                to <a href="#addjeffchen">add yourself here</a> and share your
                profile to get your friends to
                vote for you!</p>
            <p>Also, this website was of course created just for fun, so if you
                are
                interested in taking your profile off this website, please feel
                free
                to contact me below and let me know.</p>
            <div style="display: inline-block;"><p>Some interesting facts about
                Jeff
                Chen:
            </p>
                <ul>
                    <li>"Jeff Chen" is searched <b>1,000 times per month</b> on
                        Google
                    </li>
                    <li>Facebook has <b>41,400 different Jeff Chen profiles</b>
                    </li>
                    <li>Linkedin has <b>2,081 different Jeff Chen profiles</b>
                    </li>
                    <li>Twitter has <b>1,210 different Jeff Chen profiles</b>
                    </li>
                </ul>
            </div>
            <p>For the curious about what I do, SEO stands for Search Engine
                Optimization,
                meaning I specialize in developing strategies to increase the
                rank
                of webpages when a user is searching for a certain keyword, such
                as "Jeff Chen." I figured I could use my knowledge to help
                all Jeff Chens rank at the same time in Google so I built a
                website featuring as many Jeff Chens as I could find.</p>
            <p>For those who are curious about how I built the
                site, I built it using Django (Python) on AWS Elastic Beanstalk,
                S3,
                AWS Elasticsearch Services, PostgreSQL on AWS RDS, Route 53,
                Cloudflare, AWS SES, Bootstrap, Google Material Components,
                JQuery,
                SCSS, CSS, HTML. I also used other services like Google Search
                Console, Google Analytics, Google Optimize, Segment, Mixpanel,
                Hotjar, Mailgun, Sentry, Pingdom, AddThis, and more! Huge
                shoutout
                to Django's open-source community, GitHub repos, Youtube
                tutorials, and Stack Overflow for making this actually
                possible.</p>
            <p>Again, feel free to contact me if you have any questions about
                SEO,
                this website, or whatever happens to cross your
                mind!</p>
            <p>You can also like the facebook page here: <a
                    href="https://www.facebook.com/jeffchenseo/"
                    target="_blank">https://www.facebook.com/jeffchenseo/</a>
            </p>
            <p>And of course, with all that being said, this about profile
                wouldn't be complete without asking
                you to vote for me on jeffchenseo.com so...</p>
            <div class="mdc-card"
                 style="max-width: 336px; background-color: #fff;">
                <section class="mdc-card__primary"
                         style="padding:8px; display: flex; align-items: center;">
                    <img src="https://elasticbeanstalk-us-west-2-928248191884.s3.amazonaws.com/media/jeff.jpg"
                         ; style="border-radius:64px; width:64px; float: left;">
                    <div style="display: inline-block; padding-left:8px; padding-right: 14px; text-align:left;">
                        <h3 class="mdc-card__title--large"><b>Vote for Me</b>
                        </h3>
                        <h3 class="mdc-card__subtitle"
                            style="padding-bottom: 15px; font-size: 1em;">
                            as the best <a
                                href="https://www.jeffchenseo.com/jeff-chen-6"
                                target="_blank">Jeff Chen</a> on
                            jeffchenseo.com!
                        </h3></div>
                    <a href="https://www.jeffchenseo.com/jeff-chen-6"
                       target="_blank">
                        <button class="mdc-button mdc-button--raised"
                                style="background-color: #00c853;"><b>Vote</b>
                        </button>
                    </a></section>
            </div>
        </div>
    </div>
</div>