<div class="card card-default card-body div-drop-shadow"
     style="max-width: 700px; margin: auto; margin-top: 20px;" id="history">
    <div class="card-title">
        <h2><b>History of Jeff Chen</b></h2>
    </div>
    <div>
        <h4><b>Origin of Jeff</b></h4>
        <p>Jeff is short for Jeffrey which is a common English name which
            originated from either:
        <ul>
            <li><b>Germanic origin:</b> (Specifically <a
                    href="https://en.wikipedia.org/wiki/Germanic_peoples"
                    target="_blank">Teutonic origin</a>, a Germanic branch
                of the <a
                        href="https://en.wikipedia.org/wiki/Proto-Indo-Europeans"
                        target="_blank">Indo-European</a> language family) using
                a combination of 3
                Old German names meaning district, travel, or peaceful plege
            </li>
            <li><b>French origin:</b> A variant form of <a
                    href="https://en.wikipedia.org/wiki/Geoffrey_(name)"
                    target="_blank">Geoffrey</a> (which is a Middle
                French variant of Godfrey or Gottfried) which is the <a
                        href="https://en.wikipedia.org/wiki/Anglo-Norman"
                        target="_blank">Anglo-Norma</a>
                form of the Germanic compound of 'god' (gudą) and 'peace'
                (friþuz).
            </li>
        </ul>
        </p>
        <p>The meaning of Jeffrey varies slightly per region:</p>
        <ul>
            <li><b>American Meaning:</b> God's Peace</li>
            <li><b>French Meaning:</b> Divine Peace</li>
            <li><b>German Meaning:</b> District, Traveler, or Peaceful Pledge
            </li>
            <li><b>Anglo-Saxon Meaning:</b> Peaceful Gift</li>

        </ul>
        <h4><b>Popularity of Jeffrey in the United States</b></h4>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
            <script>
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["1910", "1911", "1912", "1913", "1914", "1915", "1916", "1917", "1918", "1919", "1920", "1921", "1922", "1923", "1924", "1925", "1926", "1927", "1928", "1929", "1930", "1931", "1932", "1933", "1934", "1935", "1936", "1937", "1938", "1939", "1940", "1941", "1942", "1943", "1944", "1945", "1946", "1947", "1948", "1949", "1950", "1951", "1952", "1953", "1954", "1955", "1956", "1957", "1958", "1959", "1960", "1961", "1962", "1963", "1964", "1965", "1966", "1967", "1968", "1969", "1970", "1971", "1972", "1973", "1974", "1975", "1976", "1977", "1978", "1979", "1980", "1981", "1982", "1983", "1984", "1985", "1986", "1987", "1988", "1989", "1990", "1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016"],
                        datasets: [{
                            label: '# of Jeffreys Born',
                            data: [7, 6, 12, 13, 12, 21, 22, 19, 16, 22, 22, 19, 30, 27, 31, 26, 27, 26, 36, 19, 34, 17, 37, 36, 47, 43, 69, 87, 157, 378, 801, 1502, 2059, 2169, 2328, 2782, 4124, 5662, 5933, 6971, 7647, 9710, 12021, 15909, 19036, 22504, 23268, 23951, 24206, 26269, 28834, 32014, 33528, 31725, 30739, 29596, 30201, 28095, 28380, 28989, 30156, 25852, 21690, 19225, 19333, 18323, 17025, 17489, 16998, 16874, 16381, 15924, 16035, 15642, 14762, 14495, 13645, 13477, 12389, 12012, 10979, 9895, 8469, 7536, 6526, 5728, 5262, 4582, 4187, 3814, 3563, 3206, 3000, 2883, 2720, 2424, 2265, 2122, 1995, 1715, 1613, 1436, 1501, 1398, 1368, 1252, 1163,],
                            backgroundColor: 'rgba(68, 187, 255, 0.3)',
                            borderColor: 'rgba(68, 187, 255, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {}
                });
            </script>
            <small class="mdc-typography--caption">Source: <a
                    href="https://www.ssa.gov/OACT/babynames/" target="_blank">Social
                Security Administration</a></small>
        </div>
        <h4><b>Common Variants of Jeffrey (Alphabetical Order)</b></h4>
        <ul>
            <li>Geffrey</li>
            <li>Geoff</li>
            <li>Geoffrey</li>
            <li>Geoffry</li>
            <li>Geofry</li>
            <li>Godfrey</li>
            <li>Jaffrays</li>
            <li>Jeffeory</li>
            <li>Jefferey</li>
            <li>Jefferies</li>
            <li>Jefferson</li>
            <li>Jeffery</li>
            <li>Jeffree</li>
            <li>Jeffrie</li>
            <li>Jeffries</li>
            <li>Jeffro</li>
            <li>Jeffry</li>
            <li>Jeffy</li>
            <li>Jefre</li>
            <li>Jefri</li>
            <li>Jefry</li>
        </ul>
        <h4><b>Common Nicknames for Jeffrey</b></h4>
        <ul>
            <li>JJ</li>
            <li>Jiffy Lube</li>
            <li>Jiffy</li>
            <li>Jerf</li>
            <li>Jeffie</li>
            <li>Jeffers</li>
            <li>Jeff</li>
            <li>Jef</li>
            <li>Frey</li>
            <li>Feffy</li>
        </ul>
        <h4><b>Famous Jeffs</b></h4>
        <ul>
            <li><b><a href="https://en.wikipedia.org/wiki/Jeff_Bezos"
                      target="_blank">Jeff Bezos</a> - Amazon CEO</b></li>
            <p>Jeff Bezos is the CEO of <a
                    href="https://en.wikipedia.org/wiki/Amazon.com"
                    target="_blank">Amazon.com</a>, the world's largest
                internet sales company which is also the world's largest
                provider of cloud
                infrastructure services through <a
                        href="https://en.wikipedia.org/wiki/Amazon_Web_Services"
                        target="_blank">Amazon Web Services</a>, and founder
                of <a href="https://en.wikipedia.org/wiki/Blue_Origin"
                      target="_blank">Blue Origin</a> a human spaceflight
                startup company. As of October 2017, Jeff Bezos is also
                <a href="https://www.forbes.com/sites/katevinton/2017/10/27/amazon-ceo-jeff-bezos-is-the-richest-person-in-the-world-again/#7b73d21f1948"
                   target="_blank">the richest person in the world</a>.
            <p>He previously graduated from Princeton University with Bachelor
                of Science degrees in electrical engineering and computer
                science.
                After graduation, Bezos worked on Wall Street in the computer
                science field working for companies such as Fitel, <a
                        href="https://en.wikipedia.org/wiki/Bankers_Trust"
                        target="_blank">Bankers
                    Trust</a>, and hedge fund <a
                        href="https://en.wikipedia.org/wiki/D._E._Shaw_%26_Co."
                        target="_blank">D.E. Shaw & Co.</a>
            </p>
            <div class="tenor-gif-embed" data-postid="5220573"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.6814159292035395"><a
                    href="https://tenor.com/view/delivery-package-delivery-gif-5220573">Woah
                GIF</a> from <a href="https://tenor.com/search/delivery-gifs">Delivery
                GIFs</a></div>
            </br>
            <li><b><a
                    href="https://en.wikipedia.org/wiki/Jeff_Dean_(computer_scientist)"
                    target="_blank">Jeff Dean</a> - Computer Scientist, Google
                Senior Fellow</b></li>
            <p><a href="https://research.google.com/pubs/jeff.html"
                  target="_blank">Jeff Dean</a> is one of key engineers at
                <a href="https://en.wikipedia.org/wiki/Google" target="_blank">Google</a>.
                Here are some true
                facts associated with Jeff Dean (<a
                        href="https://www.quora.com/What-are-all-the-Jeff-Dean-facts"
                        target="_blank">Source: Quora</a>):
            <ul>
                <li>Google Search was Jeff Dean's Noogler Project</li>
                <li>Jeff Dean's PIN is the last 4 digits of Pi</li>
                <li>Once, in early 2002, when the Google index servers went
                    down, Jeff Dean answered user queries manually for two
                    hours. Evals showed a quality improvement of 5 points.
                </li>
            </ul>
            </br>
            Jeff Dean designed and implemented many portions of the company's
            advertising, crawling, indexing, query serving systems, and
            distributed computing infrastructure. He has worked on projects such
            as <a href="https://en.wikipedia.org/wiki/MapReduce"
                  target="_blank">MapReduce</a>, <a
                href="https://en.wikipedia.org/wiki/Bigtable"
                target="_blank">BigTable</a>, <a
                href="https://en.wikipedia.org/wiki/Google_Brain"
                target="_blank">Google Brain</a>,
            <a href="https://en.wikipedia.org/wiki/TensorFlow" target="_blank">TensorFlow</a>,
            <a
                    href="https://en.wikipedia.org/wiki/Spanner_(database)"
                    target="_blank">Spanner</a>, <a
                href="https://en.wikipedia.org/wiki/Google_Translate"
                target="_blank">Google
            Translate</a>, and <a href="https://en.wikipedia.org/wiki/LevelDB"
                                  target="_blank">LevelDB</a>.</p>
            <p>Jeff Dean previously graduated from
                University of Washington with
                a Ph.D. in Computer science and a Bachelors of Science from the
                University of Minnesota in Computer Science and Economics. He
                previously worked at <a
                        href="https://en.wikipedia.org/wiki/Digital_Equipment_Corporation"
                        target="_blank">DEC</a>/<a
                        href="https://en.wikipedia.org/wiki/Compaq"
                        target="_blank">Compaq</a>'s Western Research Laboratory
                and worked at the World Health Organization's Global Programme
                on <a href="https://en.wikipedia.org/wiki/AIDS" target="_blank">AIDs</a>
                and developing software and statistical modeling and
                forecasting for HIV/AIDS.</p>
            <div class="tenor-gif-embed" data-postid="8392331"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.7785714285714287"><a
                    href="https://tenor.com/view/owen-olsen-google-car-internship-amazed-gif-8392331">Owen
                Olsen Google GIF</a> from <a
                    href="https://tenor.com/search/owenolsen-gifs">Owenolsen
                GIFs</a></div>
            </br>
            <li><b><a href="https://en.wikipedia.org/wiki/Jeff_Dunham"
                      target="_blank">Jeff Dunham</a> - Ventriloquist</b></li>
            <p><a href="https://www.jeffdunham.com/" target="_blank">Jeff
                Dunham</a> is an American ventriloquist and comedian who has
                been featured on various television shows like Comedy Central
                Presents, Late Show with David Letterman, The Tonight Show, and
                others.</p>
            <p>Jeff Dunham was ranked by Forbes.com as the <a
                    href="https://www.huffingtonpost.com/tom-morris/success-for-dummies_b_350592.html"
                    target="_blank">third highest-paid comedian in the United
                States</a> behind <a
                    href="https://en.wikipedia.org/wiki/Jerry_Seinfeld"
                    target="_blank">Jerry Seinfeld</a> and <a
                    href="https://en.wikipedia.org/wiki/Chris_Rock"
                    target="_blank">Chris Rock</a>. He achieved the <a
                    href="http://www.guinnessworldrecords.com/world-records/most-tickets-sold-for-a-stand-up-comedy-tour"
                    target="_blank">Guinness
                Book of World Records record</a> for "Most tickets sold for
                a stand-up comedy tour" for his Spark of Insanity tour.</p>
            <div class="tenor-gif-embed" data-postid="3468938"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.3670411985018727"><a
                    href="https://tenor.com/view/jeff-dunham-ventriloquist-puppet-italk-you-talk-gif-3468938">This
                Is How Conversations Work. At Least If You’re Having
                Conversations With A Puppet. Which Is… GIF</a> from <a
                    href="https://tenor.com/search/jeffdunham-gifs">Jeffdunham
                GIFs</a></div>
            </br>
            <li><b><a href="https://en.wikipedia.org/wiki/Jeff_Gordon"
                      target="_blank">Jeff Gordon</a> - NASCAR driver</b></li>
            <p><a href="https://jeffgordon.com/" target="_blank">Jeff Gordon</a>
                is a former professional <a
                        href="https://en.wikipedia.org/wiki/NASCAR"
                        target="_blank">NASCAR</a> driver who drove the <a
                        href="https://www.foxsports.com/nascar/gallery/jeff-gordon-hendrick-motorsports-no-24-chevrolet-career-paint-schemes-102710"
                        target="_blank">No. 24
                    Chevrolet</a> and is third on the all-time Cup wins list
                with 93
                career wins, the most in the last 40 years in NASCAR. He has won
                the
                <a href="https://en.wikipedia.org/wiki/List_of_Monster_Energy_NASCAR_Cup_Series_champions"
                   target="_blank">Sprint (Monster Energy) Cup</a> 4 times and
                <a href="https://en.wikipedia.org/wiki/Daytona_500"
                   target="_blank">Daytona 500</a> 3 times. In 1998 Jeff
                Gordon was on <a
                        href="https://en.wikipedia.org/wiki/NASCAR%27s_50_Greatest_Drivers"
                        target="_blank">NASCAR's 50 greatest drivers list</a>
                and in 2008 was
                ranked as 10th in the 25 Greatest Drivers of All Time with
                Foxsports.com naming him the 5th best NASCAR driver of all time.
            </p>
            <p>Jeff Gordon was born in Vallejo, California and raised in
                Pittsboro, Indiana. He currently lives in Charlotte, North
                Carolina and is currently an announcer for Fox NASCAR.</p>
            <div class="tenor-gif-embed" data-postid="5706037"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.7777777777777777"><a
                    href="https://tenor.com/view/jeff-gordon-nascar-celebrate-winner-yay-gif-5706037">Victory
                GIF</a> from <a href="https://tenor.com/search/jeffgordon-gifs">Jeffgordon
                GIFs</a></div>
            </br>
            <li><b><a href="https://en.wikipedia.org/wiki/Jeff_Foxworthy"
                      target="_blank">Jeff Foxworthy</a> - Comedian</b></li>
            <p><a href="http://www.jefffoxworthy.com/" target="_blank">Jeff
                Foxworthy</a> is a Comedian who is a member of the <a
                    href="https://en.wikipedia.org/wiki/Blue_Collar_Comedy_Tour"
                    target="_blank">Blue Collar
                Comedy Tour</a> with <a
                    href="https://en.wikipedia.org/wiki/Larry_the_Cable_Guy"
                    target="_blank">Larry the Cable Guy</a>, <a
                    href="https://en.wikipedia.org/wiki/Bill_Engvall"
                    target="_blank">Bill Engvall</a>, and <a
                    href="https://en.wikipedia.org/wiki/Ron_White"
                    target="_blank">Ron
                White.</a> Jeff Foxworthy has released 6 comedy albums with his
                first 2 certified 3x Platinum by the <a
                        href="https://en.wikipedia.org/wiki/Recording_Industry_Association_of_America"
                        target="_blank">Recording Industry Association of
                    America (RIAA)</a></p>
            <p>Foxworthy was born in Atlanta, Georgia and attended Georgia Tech,
                but left before graduating. Afterwards he worked for 5 years in
                mainframe computer maintenance at IBM before starting his comedy
                career.</p>
            <div class="tenor-gif-embed" data-postid="10099032"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.7913669064748199"><a
                    href="https://tenor.com/view/bo-burnham-comedy-comedian-youtube-sad-gif-10099032">Bo
                Burnham Comedy GIF</a> from <a
                    href="https://tenor.com/search/boburnham-gifs">Boburnham
                GIFs</a></div>
            </br>
            <p>
                <small>Note: I unfortunately couldn't find any Jeff Foxworthy
                    GIFs so here is Bo Burnham instead
                </small>
            </p>
            <li><b><a href="https://en.wikipedia.org/wiki/Ja_Rule"
                      target="_blank">"Jeffrey" Ja Rule</a> - American Rapper,
                Singer, Songwriter</b>
            </li>
            <p>"Jeffrey" Ja Rule is an American Rapper, Singer, and song writer.
                He has earned 4 <a
                        href="https://en.wikipedia.org/wiki/Grammy_Award_for_Best_Rap/Sung_Collaboration"
                        target="_blank">Grammy nominations</a> and 6 top 10
                albums with
                several hits in the top 20 of the U.S. Billboard Hot 100 chart
                including:
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Always_on_Time"
                       target="_blank">Always on Time</a> - Grammy-nominated #1
                    hit
                </li>
                <li><a href="https://en.wikipedia.org/wiki/Mesmerize_(song)"
                       target="_blank">Mesmerize</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Wonderful_(Ja_Rule_song)"
                       target="_blank">Wonderful</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Ain%27t_It_Funny_(Murder_Remix)"
                       target="_blank">Ain't it Funny</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/I%27m_Real_(Jennifer_Lopez_song)"
                       target="_blank">I'm Real</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Between_Me_and_You"
                       target="_blank">Between Me and You</a></li>
            </ul>
            </p>
            <p>Ja Rule was born in the Queens borough of New York City and made
                headlines for recently promoting the <a
                        href="https://en.wikipedia.org/wiki/Fyre_Festival"
                        target="_blank">Fyre Festival</a> which
                experienced <a
                        href="https://www.vanityfair.com/news/2017/06/fyre-festival-billy-mcfarland-millennial-marketing-fiasco"
                        target="_blank">problems related to security, food, and
                    accommodations</a> along with 8 lawsuits.</p>
            <div class="tenor-gif-embed" data-postid="8483188"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.7785714285714287"><a
                    href="https://tenor.com/view/ja-rule-featuring-uniform-sitcom-gif-8483188">Featuring
                Ja Rule - Ja Rule GIF</a> from <a
                    href="https://tenor.com/search/jarule-gifs">Jarule GIFs</a>
            </div>
            </br>
            <li><b><a href="https://en.wikipedia.org/wiki/J._J._Abrams"
                      target="_blank">"Jeffrey" J. J. Abrams</a> - American Film
                Director</b></li>
            <p>"Jeffrey" J. J. Abrams is an American film director known for a
                variety of movies such as:
            <ul>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Star_Wars:_The_Force_Awakens"
                       target="_blank">Star Wars: The Force Awakens (2015)</a>
                </li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Star_Trek_Into_Darkness"
                       target="_blank">Star Trek Into the Darkness (2013)</a>
                </li>
                <li><a href="https://en.wikipedia.org/wiki/Lost_(TV_series)"
                       target="_blank">Lost (2004 - 2010)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Star_Trek_(film)"
                       target="_blank">Star Trek (2009)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Cloverfield"
                       target="_blank">Cloverfield (2008)</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Mission:_Impossible_III"
                       target="_blank">Mission Impossible III (2006)</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Armageddon_(1998_film)"
                       target="_blank">Armageddon (1998)</a></li>
            </ul>
            <p>Abrams was born in New York City, but raised in Los Angeles as
                the son of television producer <a
                        href="https://en.wikipedia.org/wiki/Gerald_W._Abrams"
                        target="_blank">Gerald W. Abrams</a> and executive
                producer <a
                        href="https://en.wikipedia.org/wiki/Carol_Ann_Abrams"
                        target="_blank">Carol Ann Abrams</a>.
            </p>
            <div class="tenor-gif-embed" data-postid="5335028"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="2.360189573459716"><a
                    href="https://tenor.com/view/bb8-starwars-force-awakens-gif-5335028">Bb8
                Starwars GIF</a> from <a
                    href="https://tenor.com/search/bb8-gifs">Bb8 GIFs</a></div>
            </br>
            <li><b><a href="https://en.wikipedia.org/wiki/Jeff_Bridges"
                      target="_blank">Jeff Bridges</a> - Actor</b></li>
            <p>Jeff Bridges is an Academy Award winning American actor who is
                well known for his portrayal as The Dude in <a
                        href="https://en.wikipedia.org/wiki/The_Big_Lebowski"
                        target="_blank">The Big
                    Lebowski</a>. Other films that Jeff Bridges has starred in:
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/The_Giver_(film)"
                       target="_blank">The Giver (2014)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Tron:_Legacy"
                       target="_blank">Tron: Legacy (2010)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Crazy_Heart"
                       target="_blank">Crazy Heart (2009)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Iron_Man_(2008_film)"
                       target="_blank">Iron Man (2008)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Seabiscuit_(film)"
                       target="_blank">Seabiscuit (2003)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Fearless_(1993_film)"
                       target="_blank">Fearless (1993)</a></li>
            </ul>
            </p>
            <p>Jeff Bridges was born in Los Angeles, California and the son of
                actor <a href="https://en.wikipedia.org/wiki/Lloyd_Bridges"
                         target="_blank">Lloyd Bridges</a> and actress <a
                        href="https://en.wikipedia.org/wiki/Dorothy_Bridges"
                        target="_blank">Dorothy Bridges</a>.</p>
            <div class="tenor-gif-embed" data-postid="3523293"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="0.7299270072992701"><a
                    href="https://tenor.com/view/thedude-abide-lebowski-gif-3523293">He
                Fixes The Cable? GIF</a> from <a
                    href="https://tenor.com/search/thedude-gifs">Thedude
                GIFs</a></div>
            </br>
            <li><b><a href="https://en.wikipedia.org/wiki/Jeff_Goldblum"
                      target="_blank">Jeff Goldblum</a> - Independence Day</b>
            </li>
            <p>Jeff Goldblum is an American actor who has received nominations
                for an <a href="https://en.wikipedia.org/wiki/Academy_Award"
                          target="_blank">Oscar</a>,
                an <a href="https://en.wikipedia.org/wiki/Emmy_Award"
                      target="_blank">Emmy</a>, a <a
                        href="https://en.wikipedia.org/wiki/Genie_Awards"
                        target="_blank">Genie</a>, and a <a
                        href="https://en.wikipedia.org/wiki/Drama_Desk_Award"
                        target="_blank">Drama Desk Award</a> throughout his
                career.
                His most famous movies include:
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Jurassic_Park_(film)"
                       target="_blank">Jurassic Park (1993)</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Independence_Day_(1996_film)"
                       target="_blank">Independence Day (1996)</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/The_Lost_World:_Jurassic_Park"
                       target="_blank">The Lost World: Jurassic Park (1997)</a>
                </li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Independence_Day:_Resurgence"
                       target="_blank">Independence Day: Resurgence (2016)</a>
                </li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Jurassic_World:_Fallen_Kingdom"
                       target="_blank">Jurassic World: Fallen Kingdom (2018)</a>
                </li>
            </ul>
            </p>
            <p>Goldblum was born and raised in West Homestead, Pennsylvania. He
                moved to New York City at 17 to become an actor and is also an
                accomplished jazz pianist.</p>
            <div class="tenor-gif-embed" data-postid="8405245"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.6796875"><a
                    href="https://tenor.com/view/jeff-goldblum-jeff-goldblum-life-finds-away-gif-8405245">Jeff
                Goldblum GIF</a> from <a
                    href="https://tenor.com/search/jeff-gifs">Jeff GIFs</a>
            </div>
            </br>
            <li><b>"Jeff" Tatum - "Jefe" from 22 Jump Street</b></li>
            <p>Jefe is a fictional character played by <a
                    href="https://en.wikipedia.org/wiki/Channing_Tatum"
                    target="_blank">Channing Tatum</a> in <a
                    href="https://en.wikipedia.org/wiki/22_Jump_Street"
                    target="_blank">22 Jump Street</a>.</p>
            <div style="margin-top: 20px; margin-bottom: 20px;"
                 class="tenor-gif-embed"
                 data-postid="8847760"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.7913669064748199">
                <a href="https://tenor.com/view/jeff-my-name-is-jeff-gif-8847760">Jeff
                    My Name Is Jeff GIF</a> from <a
                    href="https://tenor.com/search/jeff-gifs">Jeff GIFs</a>
            </div>
            </br>
            Source:
            <style>.embed-container {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
            }

            .embed-container iframe, .embed-container object, .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }</style>
            <div class='embed-container'>
                <iframe src='https://www.youtube.com/embed/qkBx0gMGuhY'
                        frameborder='0' allowfullscreen></iframe>
            </div>
            <script type="text/javascript" async
                    src="https://tenor.com/embed.js"></script>
            <script>
            </script>
        </ul>
    </div>
    <div>
        </br>
        <h4><b>Origin of Chen</b></h4>
        <p><a href="https://en.wikipedia.org/wiki/Chen_(surname)"
              target="_blank">Chen</a>, meaning "old" is one of the most common
            <a
                    href="https://en.wikipedia.org/wiki/East_Asia"
                    target="_blank">East
                Asian</a> last names
            with a Chinese origin. It is the 5th most common last name in China
            and most common last name in:
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Taiwan" target="_blank">Taiwan</a>
            </li>
            <li><a href="https://en.wikipedia.org/wiki/Singapore"
                   target="_blank">Singapore</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Guangdong"
                   target="_blank">Guangdong</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Zhejiang"
                   target="_blank">Zhejiang</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Fujian" target="_blank">Fujian</a>
            </li>
            <li><a href="https://en.wikipedia.org/wiki/Hong_Kong"
                   target="_blank">Hong Kong</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Xiamen" target="_blank">Xiamen</a>
            </li>
        </ul>
        </p>
        <p>Chen comes from <a href="https://en.wikipedia.org/wiki/Gui_(surname)"
                              target="_blank">Gui</a>, one of the last names of
            <a href="https://en.wikipedia.org/wiki/Gui_Man" target="_blank">Gui
                Man</a> (Duke Hu of
            Chen), a descendant of <a
                    href="https://en.wikipedia.org/wiki/Emperor_Shun"
                    target="_blank">Emperor Shun</a>. When Chen was conquered by
            the <a href="https://en.wikipedia.org/wiki/Chu_(state)"
                   target="_blank">Chu state</a> in 479 B.C.
            the people of Chen took on the last name.</p>
        <p><a href="https://en.wikipedia.org/wiki/Chen_Baxian" target="_blank">Chen
            Baxian</a> later created the <a
                href="https://en.wikipedia.org/wiki/Chen_Dynasty"
                target="_blank">Chen Dynasty (557-589)</a> which was
            eventually destroyed by the <a
                    href="https://en.wikipedia.org/wiki/Sui_dynasty"
                    target="_blank">Sui Dynasty</a>. Fujian was the original
            home of the Chen clan before it migrated under Trần Kinh to Dai Viet
            and set up the <a href="https://en.wikipedia.org/wiki/Tran_dynasty"
                              target="_blank">Trần dynasty</a> which ruled
            Vietnam.</p>
        <p>Chen also is the 150th most popular name in the U.S. with 169,580
            people
            in the 2010 Census using the last name Chen.</p>
        <p>Whew. Glad you made it through that. I promise I didn't make any of
            those names or places up.</p>
        <h4><b>Common Variations of Chen</b></h4>
        <ul>
            <li>Chan (Cantonese)</li>
            <li>Chang (Peru)</li>
            <li>Chern</li>
            <li>Chin (Hakka in Singapore, Malaysia, Taishanese, Japanese)</li>
            <li>Chun (Cantonese)</li>
            <li>Ding (Fuzhou)</li>
            <li>Dunn (Taiwanese, Mingnamyu, Holo)</li>
            <li>Gin (Taishanese)</li>
            <li>Jin (Korean)</li>
            <li>Sen (Limbu)</li>
            <li>Tan (Hokkien, Teochew)</li>
            <li>Tang (Teochew, Cambodia, Thailand)</li>
            <li>Ting (Fuzhou)</li>
            <li>Tran (Vietnamese)</li>
            <li>Zen (Wu)</li>
        </ul>
        <p>
            <small><b>Note:</b> Not going to lie here, I thought these
                variations seemed pretty different, but Wikipedia promises these
                are all the same last name.
            </small>
        </p>
        <h4><b>Common Nicknames for Chen</b></h4>
        <ul>
            <li>Cheny</li>
            <li>Chen Chen</li>
            <li>Chen Dawg</li>
            <li>Chen Money</li>
            <li>Chenzilla</li>
            <li>Chenchilla</li>
            <li>Chinny Chin Chen</li>
        </ul>
        <p>Just kidding - all of those are made up since Google couldn't find
            any Chen nicknames.</p>
        <h4><b>Famous Chens</b></h4>
        <ul>
            <li><b><a href="https://en.wikipedia.org/wiki/Jackie_Chan"
                      target="_blank">Jackie Chan</a> - Actor and Martial Artist</b>
            </li>
            <p>Jackie Chan is an actor, martial artist, director, stuntman,
                producer, stuntmnat, and singer who is famous for his acrobatic
                fighting style and acting in over 150 films. Some of his films
                include:
            <ul>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Rush_Hour_(1998_film)"
                       target="_blank">Rush Hour (1998)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Rush_Hour_2"
                       target="_blank">Rush Hour 2 (2001)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Rush_Hour_3"
                       target="_blank">Rush hour 3 (2007)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Shanghai_Noon"
                       target="_blank">Shanghai Noon (2000)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Shanghai_Knights"
                       target="_blank">Shanghai Knights (2003)</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/The_Karate_Kid_(2010_film)"
                       target="_blank">The Karate Kid (2010)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Drunken_Master"
                       target="_blank">Drunken Master (1978)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Drunken_Master_II"
                       target="_blank">Drunken Master II (1994)</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Police_Story_(1985_film)"
                       target="_blank">Police Story (1985)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Police_Story_2"
                       target="_blank">Police Story 2 (1988)</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Police_Story_3:_Super_Cop"
                       target="_blank">Police Story 3: Super Cop</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Police_Story_4:_First_Strike"
                       target="_blank">Police Story 4: First Strike (1996)</a>
                </li>
                <li><a href="https://en.wikipedia.org/wiki/New_Police_Story"
                       target="_blank">New Police Story (2004)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Police_Story_2013"
                       target="_blank">Police Story: Lockdown (2013)</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Who_Am_I%3F_(1998_film)"
                       target="_blank">Who Am I? (1998)</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/The_Karate_Kid_(2010_film)"
                       target="_blank">The Karate Kid (2010)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Kung_Fu_Panda"
                       target="_blank">Kung Fu Panda (2008)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Kung_Fu_Panda_2"
                       target="_blank">Kung Fu Panda 2 (2011)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Kung_Fu_Panda_3"
                       target="_blank">Kung Fu Panda 3 (2016)</a></li>
                <li>
                    <a href="https://en.wikipedia.org/wiki/Jackie_Chan_filmography"
                       target="_blank">(Full List of Jackie Chan Movies)</a>
                </li>
            </ul>
            </p>
            <p>Jackie Chan was born in Hong Kong and began his career in small
                roles when he was five as a child actor. He started appearing in
                movies at the age of eight and has been acting in movies ever
                since.
            </p>
            <div class="tenor-gif-embed" data-postid="5480512"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="2.34375"><a
                    href="https://tenor.com/view/jackie-chan-rush-hour-chris-tucker-dancing-yeah-gif-5480512">Jackie
                Chan GIF</a> from <a
                    href="https://tenor.com/search/jackiechan-gifs">Jackiechan
                GIFs</a></div>
            </br>
            <div class='embed-container'>
                <iframe src='https://www.youtube.com/embed/4OZpSUJfSGw'
                        frameborder='0' allowfullscreen></iframe>
            </div>
            </br>

            <li><b><a href="https://en.wikipedia.org/wiki/Steve_Chen"
                      target="_blank">Steven Chen</a> - Youtube Co-founder</b>
            </li>
            <p>Steven Chen is one of the co-founders and previous chief
                technology officer of <a
                        href="https://en.wikipedia.org/wiki/YouTube"
                        target="_blank">Youtube</a>. He was originally an
                employee at
                <a href="https://en.wikipedia.org/wiki/PayPal" target="_blank">PayPal</a>
                and an early employee at <a
                        href="https://en.wikipedia.org/wiki/Facebook"
                        target="_blank">Facebook</a>, but left after several
                months to start YouTube. Youtube was later sold to <a
                        href="https://en.wikipedia.org/wiki/Google"
                        target="_blank">Google, Inc.</a>
                for $1.65 billion.</p>
            <p>Steven was born in Taipei, Taiwan, but later graduated from
                University of Illinois at Urbana Champaign and now lives in San
                Francisco, CA.</p>
            <div class="tenor-gif-embed" data-postid="9807053"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.7913669064748199"><a
                    href="https://tenor.com/view/watching-youtube-like-gif-9807053">Watching
                Youtube GIF</a> from <a
                    href="https://tenor.com/search/watching-gifs">Watching
                GIFs</a></div>
            </br>
            <li><b><a href="https://en.wikipedia.org/wiki/Chen_Shui-bian"
                      target="_blank">Chen Shui-bian</a> - ex President of the
                Republic of China (Taiwan)</b></li>
            <p>Chen Shui-bian was previously the <a
                    href="https://en.wikipedia.org/wiki/President_of_the_Republic_of_China"
                    target="_blank">President of the Republic of
                China (Taiwan)</a> from 2000 to 2008. He is also the first
                president from the <a
                        href="https://en.wikipedia.org/wiki/Democratic_Progressive_Party"
                        target="_blank">Democratic Progressive Party (DPP)</a>
                ending
                <a href="https://en.wikipedia.org/wiki/Kuomintang"
                   target="_blank">Kuomintang's (KMT)</a> 50+ years of
                continuous rule in <a
                        href="https://en.wikipedia.org/wiki/Taiwan"
                        target="_blank">Taiwan</a>.
            </p>
            <p>Chen was born to an impoverished tenant farming family in Tainan
                City. He graduated from National Taiwan University with a Law
                degree and passed the bar exams his junior year with the highest
                score and became Taiwan's youngest lawyer.</p>
            <li><b><a
                    href="https://en.wikipedia.org/wiki/Priscilla_Chan_(philanthropist)"
                    target="_blank">Priscilla Chan</a> - Pediatrician and
                Philanthropist</b></li>
            <p>Priscilla is the wife of the co-founder and CEO of <a
                    href="https://en.wikipedia.org/wiki/Facebook"
                    target="_blank">Facebook</a> <a
                    href="https://en.wikipedia.org/wiki/Mark_Zuckerberg"
                    target="_blank">Mark
                Zuckerberg</a> and is an American pediatrician and
                philanthropist. She and her husband have pledged more than $1.6
                Billion to charities and as of December 2016, they pledged to
                donate 99% of their Facebook shares valued at $45 Billion to the
                <a href="https://en.wikipedia.org/wiki/Chan_Zuckerberg_Initiative"
                   target="_blank">Chan Zuckerberg Initiative</a> to improve
                health and education.</p>
            <p>Priscilla was born in Braintree, Massachusetts, attended Harvard
                University, graduated medical school at University of
                California, San Francisco, and now lives in Palo Alto, CA.</p>
            <div class="tenor-gif-embed" data-postid="9067256"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.7777777777777777"><a
                    href="https://tenor.com/view/facebook-gif-9067256">Facebook
                GIF</a> from <a href="https://tenor.com/search/facebook-gifs">Facebook
                GIFs</a></div>
            </br>
            <li><b><a href="https://en.wikipedia.org/wiki/Chen_Ding"
                      target="_blank">Chen Ding</a></b></li>
            <p>Chen Ding is a Chinese racewalker who won a gold medal in the
                2012 Summer Olympics with a new Olympic Record of 1:18:46 in the
                20km racewalk event. He was born in Yunan China in 1992.</p>
            <div class="tenor-gif-embed" data-postid="4597925"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.7790697674418605"><a
                    href="https://tenor.com/view/kath-and-kim-walk-walking-sass-sassy-gif-4597925">Kath
                And Kim Walk GIF</a> from <a
                    href="https://tenor.com/search/kathandkim-gifs">Kathandkim
                GIFs</a></div>
            </br>
            <li><b><a href="https://dota2.gamepedia.com/Chen" target="_blank">Chen</a>
                - Ranged Intelligence Hero in <a
                        href="https://en.wikipedia.org/wiki/Dota_2"
                        target="_blank">Dota 2</a></b>
                <p>Chen is a ranged intelligence hero, known as a <a
                        href="https://dota2.gamepedia.com/Support"
                        target="_blank">support</a> that
                    is difficult to learn due to heavy reliance on
                    micromanagement, but once mastered, can become a powerful
                    <a href="https://dota2.gamepedia.com/Ganker"
                       target="_blank">ganker</a>, and is one of the strongest
                    early <a href="https://dota2.gamepedia.com/Role#Pusher"
                             target="_blank">pushers</a> in
                    game.</p>
            </li>
            <div class="tenor-gif-embed" data-postid="5368357"
                 data-share-method="host" data-width="100%"
                 data-aspect-ratio="1.0"><a
                    href="https://tenor.com/view/cat-computer-gif-5368357">Cat
                Computer GIF</a> from <a
                    href="https://tenor.com/search/cat-gifs">Cat GIFs</a></div>
        </ul>
    </div>
</div>