{% extends 'votes/base.html' %}

{% block content %}

    {% include 'votes/searchform.html' %}

    {% include 'votes/jeffchentable.html' %}

    {% include 'votes/addjeffchenform.html' %}

    {% include 'votes/popularjeffchentable.html' %}

    {% include 'votes/history.html' %}

    {% include 'votes/about.html' %}

    {% include 'votes/contact.html' %}

    <script type="text/javascript"
            src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59ebec44bc7a5588"
            async defer></script>

{% endblock %}

