<div class="container">
    <div style="background-color:rgba(0,0,0,0.5); padding: 10px;">
        <h1 style="color: #FFFFFF;">
            <b><span style="color: #00c853;">Vote</span> For The Best Jeff Chen
                on The Internet</b></h1>
        <div class="card card-default" style="background: none; border: 0px;">
            <div class="card-body">
                <p style="color: #ffffff;">In between pondering the meaning of
                    life and whether or not we
                    have free will - determining the world's best Jeff Chen has
                    been
                    one of life's most difficult questions that has stumped
                    philosophers all around the world for thousands of
                    years.</p>
                <p style="color: #ffffff;">Until now.</p>
                <blockquote style="color: #ffffff;">"Obviously the best Jeff
                    Chen is the one with the most
                    votes
                    on jeffchenseo.com."
                    <footer class="blockquote-footer" style="color: #ffffff;">
                        Plato
                    </footer>
                </blockquote>
                <small style="opacity: 0.54; color: #ffffff">*Disclaimer: It
                    might have been
                    Aristotle
                    who said this
                </small>
            </div>
        </div>
        </div>
</div>